<div class="jumbotron center">
  <div id="welcomeid">
    <h1>Welcome to GEARpic</h1>
  </div>
    <p>Your gear your pics</p>
    <div class="BlackOps">
    <p>
	  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
	  <%= link_to "Join", new_user_registration_path, class: "btn btn-info btn-lg" %>
	</p>
</div>
</div>
