<div class="jumbotron center">
  <div id="aboutid">
    <h1>About Us</h1>
  </div>
  <div class="abouttext">
    <p>
		GEARpic is a place for gear. Finally, an application exists for gear, guns, ammo forts, trucks, and anything else that is lawful to upload/post on-line. By using this site and uploading/posting images: you agree to not upload/post any property, copyright, trademark, or any other work that you do not own or have legal permission to use and you agree to not upload/post any pornographic material or any illegal actions or things. GEARpic and its employees, staff, agents, and owners, shall not be held liable for anything that occurs as a result of use or misuse by users/people using this web application.
    </p>
   </div>
</div>
